.elements__item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px;
  background-color: #fff;
}
@media screen and (max-width: 320px) {
  .elements__item-container {
    height: 79px;
  }
}
