.footer {
  margin: 0 auto 60px auto;
  max-width: 880px;
  padding: 0 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    min-height: 56px;
    margin-bottom: 36px;
  }
}
